<%- include('header') -%>

<form action="/" method="get">
    <h2>This is the about page.</h2>
    <input type="submit" value="Go Home"
           name="Submit" />
    <p><span>Lorem ipsum dol</span><span>xpedita explicabo fugit impedit libero maxime mollitia, nemo non nulla odio quas quisquam quo quos ratione sint soluta ullam unde.</span><span>Laborum, quaerat quibusdam. Ab adipisci alias, asperiores, beatae cumque cupiditate error et explicabo incidunt iste magnam nam natus odio officia officiis optio quaerat ratione reiciendis saepe sunt temporibus tenetur voluptatem.</span></p>
</form>


<%- include('footer') -%>